<?xml version="1.0"?>
<connectionStrings>
  <add name="GPSTrackerConnectionString" connectionString="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Initial Catalog=GPSTracker;Data Source=ANKIT\SQLEXPRESS;PWD=optimus" providerName="System.Data.SqlClient"/>
  <add name="GPSProviderConnectionString" connectionString="Persist Security Info=False;User ID=sa;Initial Catalog=aspnetdb;Data Source=ANKIT\SQLEXPRESS;PWD=optimus" providerName="System.Data.SqlClient"/>
  <add name="GPSTrackerDal.Properties.Settings.GPSTrackerConnectionString" connectionString="Persist Security Info=False;User ID=sa;Initial Catalog=GPSTracker;Data Source=ANKIT\SQLEXPRESS;PWD=optimus" providerName="System.Data.SqlClient" />
  <add name="GPSTrackerDal.Properties.Settings.aspnetdbConnectionString" connectionString="Persist Security Info=False;User ID=sa;Initial Catalog=aspnetdb;Data Source=ANKIT\SQLEXPRESS;PWD=optimus" providerName="System.Data.SqlClient" />
 
  <!--<add name="GPSTrackerDal.Properties.Settings.aspnetdbConnectionString" connectionString="Persistant Security Info=false;Data Source=ANKIT\SQLEXPRESS;Initial Catalog=aspnetdb;User ID=sa;Password=optimus" providerName="System.Data.SqlClient"/>
  <add name="GPSTrackerDal.Properties.Settings.GPSTrackerConnectionString" connectionString="Persistant Security Info=false;Data Source=ANKIT\SQLEXPRESS;Initial Catalog=GPSTracker;User ID=sa;Password=optimus" providerName="System.Data.SqlClient"/>
  <add name="WRProviderConnectionString" connectionString="Persistant Security Info=false;Data Source=ANKIT\SQLEXPRESS;Initial Catalog=aspnetdb;User ID=sa;Password=optimus" providerName="System.Data.SqlClient" />-->
</connectionStrings>