<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <profile enabled="true" defaultProvider="GPSProfileProvider">
      <providers>
        <add name="GPSProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="GPSProviderConnectionString" applicationName="GPSTracker"/>
      </providers>
      <properties>
        <add name="FirstName" type="string" defaultValue="" serializeAs="String" allowAnonymous="false"/>
        <add name="LastName" type="string" defaultValue="" serializeAs="String" allowAnonymous="false"/>
        <add name="PhoneNumber" type="string" defaultValue="" serializeAs="String" allowAnonymous="false"/>
        <add name="EmailPermission" type="bool" defaultValue="false" allowAnonymous="false"/>
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="GPSRoleProvider">
      <providers>
        <add name="GPSRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="GPSProviderConnectionString" applicationName="GPSTracker"/>
      </providers>
    </roleManager>
    <membership defaultProvider="GPSProvider">
      <providers>
        <add name="GPSProvider" type="GPSTrackerBal.GPSMembershipProvider" connectionStringName="GPSProviderConnectionString" applicationName="GPSTracker" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"/>
      </providers>
    </membership>
  </system.web>
  <!--<system.serviceModel>
   
    <standardEndpoints>
      <mexEndpoint>
        <standardEndpoint name="mexEndPoint"/>
      </mexEndpoint>
      <webHttpEndpoint>
        <standardEndpoint name="webEndpoint" maxBufferSize="524288" maxReceivedMessageSize="524288" transferMode="Streamed" helpEnabled="true" defaultOutgoingResponseFormat="Json" crossDomainScriptAccessEnabled="true" faultExceptionEnabled="true" contentTypeMapper="Conasys.HIP.CommunicationAPI.JsonContentTypeMapper, JsonContentTypeMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <readerQuotas maxDepth="524288" maxStringContentLength="524288" maxArrayLength="524288" maxBytesPerRead="524288" maxNameTableCharCount="524288"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
      </bindings>
    <services>
      <service name="GPSTrackerService.GPSTrackerService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="http://localhost:1488/GPSTrackerService.svc" bindingConfiguration="crossDomain" binding="webHttpBinding" contract="GPSTrackerService.IGPSTrackerService" behaviorConfiguration="web">

        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          --><!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment --><!--
          <serviceMetadata httpGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
  </system.serviceModel>-->
  <connectionStrings configSource="connections.config"/>
  <system.webServer>   
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="http://localhost:2908" />
        </customHeaders>
      </httpProtocol>     
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    <standardEndpoints>
      <mexEndpoint>
        <standardEndpoint name="mexEndPoint"/>
      </mexEndpoint>
      <webHttpEndpoint>
        <standardEndpoint name="webEndpoint" maxBufferSize="524288" maxReceivedMessageSize="524288" transferMode="Streamed" helpEnabled="true" defaultOutgoingResponseFormat="Json" crossDomainScriptAccessEnabled="true" faultExceptionEnabled="true" contentTypeMapper="GPSTrackerService.JsonContentTypeMapper, JsonContentTypeMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <readerQuotas maxDepth="524288" maxStringContentLength="524288" maxArrayLength="524288" maxBytesPerRead="524288" maxNameTableCharCount="524288"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding0" closeTimeout="00:20:00" receiveTimeout="00:25:00" sendTimeout="00:20:00" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="3200" maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
      </wsHttpBinding>
      <mexHttpBinding>
        <binding name="NewBinding1"/>
      </mexHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding1" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:25:00" sendTimeout="00:20:00" bypassProxyOnLocal="true" maxBufferSize="524288" maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="524288" maxStringContentLength="524288" maxArrayLength="524288" maxBytesPerRead="524288" maxNameTableCharCount="524288"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="GPSTrackerService.GPSTrackerService">
        <endpoint address="http://localhost:1488/GPSTrackerService.svc" binding="webHttpBinding" bindingConfiguration="webHttpBinding1" behaviorConfiguration="NewBehavior0" name="webBinding" contract="GPSTrackerService.IGPSTrackerService"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="NewBinding1" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1488/GPSTrackerService.svc"/>
          </baseAddresses>
          <timeouts closeTimeout="00:20:10" openTimeout="00:20:00"  />
        </host>
      </service>
    </services>
    <!--<bindings >
     <wsHttpBinding>
       <binding name="wsHttpBindingConasys" maxReceivedMessageSize="120000" openTimeout="10000">
        
       </binding>
     </wsHttpBinding>
   </bindings>-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false" faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
