<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GPSTrackerDal.Properties.Settings.aspnetdbConnectionString"
            connectionString="Data Source=ANKIT\SQLEXPRESS;Initial Catalog=aspnetdb;User ID=sa;Password=optimus"
            providerName="System.Data.SqlClient" />
        <add name="GPSTrackerDal.Properties.Settings.GPSTrackerConnectionString"
            connectionString="Data Source=ANKIT\SQLEXPRESS;Initial Catalog=GPSTracker;User ID=sa;Password=optimus"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>