body {
  margin: 0;
}
body{
    background: url(./../images/back.png);
    background-color: #444;
    background: url(./../images/pinlayer2.png),url(./../images/pinlayer1.png),url(./../images/back.png);
}
